.chat-room{
    height: 100%;
    overflow-y: hidden;
    .message{
        min-height: 59px;
        .content-container{
            display: inline-block;
            .content{
                background-color: #eeeeee;
                padding: 8px;
                border-radius: 20px 16px;
            }
            .author{
                color: #777777;
                font-size: 0.8rem;
                margin-left: 10px;
            }
        }
        &.me{
            .content-container{
                float: right;
                .content{
                    background-color: #007bff;
                    color: white;
                }
            }
        }
    }
    .chat-box{
        position: fixed;
        bottom: 0;
        padding: 20px;
        width: calc(80% - 20px);
        input[type=text]{
            height: 45px;
            font-size: 18px;
            padding: 8px;
        }
        .btn{
            height: 45px;
        }
    }
}